.container {
  background-color: rgb(252, 246, 246);

  width: 100%;
}
.text-area textarea {
  height: 150px;
}
.sider-3input-container {
  display: flex;
  gap: 20px;
}
.sider-3input {
  width: 50%;

  /* padding:  10px 15px; */
}


.submit-button {
  padding: 10px 20px;
  background-color: #ff8300;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #cc6800;
}
