.form-container{
  /* border: 5px solid ; */
  display: flex;
  justify-content: center;
}
.form-worker {
  background-color:  rgb(252, 246, 246);
  
   width: 800px ;
   padding: 20px;
  
    /* width: 100%; */
    
  }
  .text-area textarea{
   
   height: 150px;
  
  }
  .sider-3input-container{
    display: flex;
    gap: 20px;
   
  }
  .sider-3input{
    width: 50%;
   border: 5PX solid;
    /* padding:  10px 15px; */
    
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* width: 100%; */
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #ff8300;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #cc6800;
  }
  