


@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .header {
        font-size: 1em;
    }
}


@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        padding: 15px;
    }

    .header {
        font-size: 2em;
    }
}


@media (min-width: 1025px) {
    .container {
        /* padding: 30px; */
    }

    .header {
        font-size: 2.em;
    }
}
