

.sidebar-children-container{
    width: 100%;
    height: 100%;
    display: flex;
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
}

.children-container{
flex-grow: 1;
padding: 10px;
/* border: 5px solid ; */
}
