
.content--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: red; 
    background-color: rgb(219, 211, 211);
    padding-inline: 30px;
    padding-block: 10px;
    /* border: 5px solid red; */
}
.header--title{
    color: green;
    /* border: 5px solid red; */
    
}
.header--activity{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #000;
}

.search-box{
    background: white;
    border: 2px solid rgb(214, 194, 194);
    border-radius: 10px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
}

.search-box input{
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
   
}

.search-box .icon{
    color: gray;
    cursor: pointer;
    font-size: 22px;
    transition: 0.5 ease-in-out;

}
.notify{
    background: wheat;
    color: black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;

}

.notify.icon{
    font-size: 20px;
    transition: 0.5 ease-in-out;

}
.icon:hover{
    color: blue;
    cursor: pointer;
}
